{% extends 'base.html.twig' %}

{% block title %}New HistoriqueHospitalisation{% endblock %}

{% block body %}
    <h1>Create new HistoriqueHospitalisation</h1>

    {{ include('historique_hospitalisation/_form.html.twig') }}

    <a href="{{ path('app_historique_hospitalisation_index') }}">back to list</a>
{% endblock %}
