{% extends 'base.html.twig' %}

{% block title %}New Inscription{% endblock %}

{% block body %}
    <h1>inscrire un utilisateur</h1>

    {{ include('inscription/_form.html.twig') }}
{% if is_granted('ROLE_ADMIN') %}
<a class="btn btn-secondary mt-4" href="{{ path('app_inscription_index') }}">back to list</a>
{% endif %}

    
{% endblock %}
